<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/home.css" type="text/css">
    <link rel="stylesheet" href="../styles/slider.css" type="text/css">
    <link rel="stylesheet" href="../styles/products.css" type="text/css">
    <script src="https://kit.fontawesome.com/d719a77ba7.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <div class="nav ">
        <div class="logo">
            <h2>
                Tienda Jaled (?
            </h2>
        </div>
        <div class="form">
            <form action="/signin" method="POST">
                <input placeholder="Email" name="email" class="rounded">
                <input placeholder="Contraseña" name="password" class="rounded" type="password">
                <input type="submit" class="rounded">
            </form>
        </div>
    </div>
    <div class="bg-secondary d-flex flex-row justify-content-center opacity-75 text-light">
        <p class="m-1">No tenés cuenta todavia?</p>
        <p class="m-1"><a href="/signup" class="link-light">Hacé click acá</a></p>
    </div>
    <div class="sliderWrapper">

        <div class="slider">
            <div class="slide">
                <img src="../public/imgs/cocina.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../public/imgs/llibros.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../public/imgs/telefonos.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../public/imgs/ropa.jpg" alt="">
            </div>

            <button class="btn btnleft"> </button>
            <button class="btn btnright"> </button>

        </div>
    </div>
    <div id="productosEncabezado">
        <p>Más Vendidos</p>
    </div>
    <div class="productos">
        <% productos.map(data=> { %>
            <div class="card">

                <img src="/uploads/<%=data.imagen %>">

                <div class="card-info">
                    <p>
                        <%=data.marca%>
                    </p>

                    <p>
                        <%=data.nombre%>
                    </p>
                    <p>
                        $<%=data.precio%>
                    </p>

                </div>
                <button class="btn-compra">Agregar 🛒</button>

            </div>
            <%})%>
                <button class="btn-prod-der"></button>
                <button class="btn-prod-izq"></button>

    </div>
    <div class="footer">
        <h1>
            Footer
        </h1>
    </div>

    <script src="../public/js/home.js"></script>
</body>

</html>













<% /* <div class="fotos">
    <div class="fotosWrapper">
        <div class="fotosChild uno">
            <img src="../public/imgs/cocina.jpg" alt="">
        </div>
        <div class="fotosChild dos">
            <img src="../public/imgs/llibros.jpg" alt="">
        </div>
        <div class="fotosChild tres">
            <img src="../public/imgs/ropa.jpg" alt="">
        </div>
        <div class="fotosChild cuatro">
            <img src="../public/imgs/telefonos.jpg" alt="">
        </div>
    </div>
    </div>

    */%>