<div class="nav ">
    <div class="logo">
        <h2>
            <a href="/">Tienda Jaled (?</a>

        </h2>
    </div>

    <div class="form">
        <form action="/signin" method="POST">
            <input placeholder="Email" name="email" class="rounded">
            <input placeholder="Contraseña" name="password" class="rounded" type="password">
            <input type="submit" class="rounded">
        </form>
    </div>
</div>