<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up!</title>
</head>

<body>
    <div>
        register
    </div>
    <div class="form">
        <form action="/signup" method="POST">
            <div>
                <input placeholder="Nombre " name="nombre">
                <input placeholder="Apellido " name="apellido">
                <input placeholder="Email " name="email" type="email">
                <input placeholder="Contraseña" name="password" type="password">
            </div>
            <div>
                <input placeholder="Dirección" name="direccion">
                <input placeholder="Fecha de nacimiento " name="fechanacimiento" type="date">
                <input placeholder="Telefono " name="telefono" type="number">
                <input placeholder="foto" name="foto"></var>
            </div>
            <input type="submit">
        </form>
    </div>
    <div class="bg-secondary d-flex flex-row justify-content-center opacity-75 text-light">
        <p class="m-1">Ya tenés cuenta ?</p>
        <p class="m-1"><a href="/" class="link-light">Hacé click acá</a></p>
    </div>
</body>

</html>