<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>

<body>
    <h1>Plantilla con ejs!</h1>
    <% console.log("Ejecuto Js en el html!!") %>
        <h2>
            Productos
        </h2>
        <% if(productos.length> 1){ %>
            <ul>
                <% productos.forEach(prod=> { %>
                    <li>nombre: <%= prod.nombre %>
                    </li>
                    <li>precio:: <%= prod.precio %>
                    </li>
                    <li>img: <%= prod.img %>
                    </li>
                    <% }) %>
            </ul>
            <% }else{ %>
                <h2>
                    No hay productos
                </h2>
                <% } %>
                    <%- include("../partials/footer.ejs") %>
</body>