* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 5px;
    width: 100%;
}

.logo,
.form {
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

form>input {
    padding: 5px;
}

.footer {
    height: 15vh;
    background-color: orange;
}

h2>a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

h2>a:hover {
    text-decoration: none;
    color: black;
}