html 
    head    
    body    
        h1 Productos!    
        ul   
            each val in productos   
                li= val.nombre 
                li= val.precio 
                li= val.img 
        